<%- include('../partials/header') %>
    <%- include('../partials/navbar', { username: username,apiKey: apiKey }) %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-1 text-gray-800">Profile</h1>


            <!-- Content Row -->
            <div class="row">

                <div class="col-lg-6">

                    <!-- Overflow Hidden -->
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">ข้อมูลผู้ใช้</h6>
                        </div>
                        <div class="card-body">

                            <div>
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="username"
                                    value="<%= username %>" required>

                                <div>
                                    <label for="apikey">API KEY:</label>
                                    <input type="apikey" class="form-control" id="apikey" name="apikey"
                                        value="<%= apiKey %>" required>
                                </div>
                            </div>
                        </div>




                    </div>


                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


        <%- include('../partials/footer') %>