<%- include('../partials/header') %>
<%- include('../partials/navbar', { username: username, apiKey: apiKey, userid: userid }) %>

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <style>
    .btn-group-custom {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .btn-group-custom button {
      flex: 1;
    }

    .video-thumbnail {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
    }
    .custom-height {
      height: 800px; /* Adjust height as needed */
    }
    .important-note {
      color: red;
      font-weight: bold;
    }

    .form-group {
        display: flex;
        align-items: center;
    }

    .form-group > .col-sm-5 {
        flex: 1;
        padding-right: 10px;
    }

    .form-group > .col-sm-5:last-child {
        padding-right: 0;
    }

    .form-group > .col-sm-2 {
        flex: 0 0 15%;
    }
  </style>
<style>
    .table {
      margin-top: 10px;
    }
    .thead-light {
      background-color: #f8f9fa;
    }
    .btn-info {
      margin-left: 10px;
    }
    .btn-danger {
      margin-left: 10px;
    }
    .form-control {
      width: 100%;
    }
    .table td, .table th {
      vertical-align: middle;
    }
    .endpoint-method {
      width: 80px;
      display: inline-block;
      font-weight: bold;
      text-align: center;
      border-radius: 4px;
      padding: 5px;
    }
    .endpoint-method.get {
      background-color: #28a745;
      color: white;
    }
    .endpoint-method.post {
      background-color: #007bff;
      color: white;
    }
    .endpoint-method.put {
      background-color: #ffc107;
      color: white;
    }
    .endpoint-method.delete {
      background-color: #dc3545;
      color: white;
    }
    .endpoint {
      margin-bottom: 10px;
    }
    .api-section {
      margin-top: 40px;
    }
  </style>
  <div class="row">
    <div class="col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">JWPlayer Settings</h6>
        </div>
        <div class="card-body">
            <div class="upload-container">
              <div class="upload-area" id="uploadArea">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#general-settings" type="button" role="tab" aria-controls="general-settings" aria-selected="true">General Settings</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#jwplayer-settings" type="button" role="tab" aria-controls="jwplayer-settings" aria-selected="false">JWPlayer Settings</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="allowed-sites-tab" data-bs-toggle="tab" data-bs-target="#allowed-sites" type="button" role="tab" aria-controls="allowed-sites" aria-selected="false">Allowed Sites</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="stream-link-tab" data-bs-toggle="tab" data-bs-target="#stream-link" type="button" role="tab" aria-controls="stream-link" aria-selected="false">Stream Link</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="p2p-tab" data-bs-toggle="tab" data-bs-target="#p2p" type="button" role="tab" aria-controls="p2p" aria-selected="false">P2P</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="stream-api-tab" data-bs-toggle="tab" data-bs-target="#stream-api" type="button" role="tab" aria-controls="stream-api" aria-selected="false">Stream API By Nuxt</button>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="general-settings" role="tabpanel" aria-labelledby="home-tab">
                    <br>
                    <div class="form-group">
                      <label for="player-url" class="col-sm-2 control-label">Player URL</label>
                      <input type="text" class="form-control" id="player-url" placeholder="Player URL" value="<%= settings.playerUrl || '' %>">
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Iframe Size</label>
                      <div class="col-sm-5">
                        <label>Height</label>
                        <input type="text" class="form-control" name="settings-iframe_height-" placeholder="Example: 360" value="<%= settings.iframeHeight || '360' %>">
                      </div>
                      <div class="col-sm-5">
                        <label>Width</label>
                        <input type="text" class="form-control" name="settings-iframe_width" placeholder="Example: 100%" value="<%= settings.iframeWidth || '100%' %>">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="jwplayer-settings" role="tabpanel" aria-labelledby="profile-tab">
                    <br>
                    <div class="form-group">
                      <label for="jwplayer-key" class="col-sm-2 control-label">JW Player Key</label>
                      <input type="text" class="form-control" id="jwplayer-key" placeholder="JW Player Key" value="<%= settings.jwplayerKey || '' %>">
                    </div>
                    <div class="form-group">
                      <label for="jwplayer-url" class="col-sm-2 control-label">JW Player Url</label>
                      <input type="text" class="form-control" id="jwplayer-url" placeholder="JW Player Url" value="<%= settings.jwplayerUrl || '' %>">
                    </div>
                    <div class="form-group">
                      <label for="player-defaultimage" class="col-sm-2 control-label">Default Background Image</label>
                      <input type="text" class="form-control" id="player-defaultimage" placeholder="Default Background Image" value="<%= settings.defaultImage || '' %>">
                    </div>
                    <div class="form-group">
                      <label for="player-rememberposition" class="col-sm-2 control-label">Remember Position (Resume on Restart)</label>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="player-rememberposition" <%= settings.rememberPosition ? 'checked' : '' %>>
                        <label class="form-check-label" for="player-rememberposition">Press to Activate</label>
                      </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <label for="logo-switch-chack" class="col-sm-2 control-label">Logo</label>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="logo-switch-chack" <%= settings.logoSwitchChack ? 'checked' : '' %>>
                        <label class="form-check-label" for="logo-switch-chack">Press to Activate</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="logo-switch-hide" class="col-sm-2 control-label">Logo Hide</label>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="logo-switch-hide" <%= settings.logoSwitchHide ? 'checked' : '' %>>
                        <label class="form-check-label" for="logo-switch-hide">Press to Activate</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="logo-url" class="col-sm-2 control-label">Logo URL</label>
                      <input type="text" class="form-control" id="logo-url" placeholder="Logo URL" value="<%= settings.logoUrl || '' %>">
                    </div>
                    <div class="form-group">
                      <label for="logo-target" class="col-sm-2 control-label">Logo Target</label>
                      <input type="text" class="form-control" id="logo-target" placeholder="Logo Target" value="<%= settings.logoTarget || '' %>">
                    </div>
                    <div class="form-group">
                      <label for="logo-position" class="col-sm-2 control-label">Logo Position</label>
                      <select class="form-control" id="logo-position" name="logo-position" aria-label="Default select example">
                        <option value="" <%= !settings.logoPosition ? 'selected' : '' %>>Unselected</option>
                        <option value="1" <%= settings.logoPosition == 1 ? 'selected' : '' %>>TOP-LEFT</option>
                        <option value="2" <%= settings.logoPosition == 2 ? 'selected' : '' %>>TOP-RIGHT</option>
                        <option value="3" <%= settings.logoPosition == 3 ? 'selected' : '' %>>LEFT-BOTTOM</option>
                        <option value="4" <%= settings.logoPosition == 4 ? 'selected' : '' %>>RIGHT-BOTTOM</option>
                      </select>
                    </div>
                    <hr>
                  </div>
                  <div class="tab-pane fade" id="allowed-sites" role="tabpanel" aria-labelledby="allowed-sites-tab">
                    <br>
                    <div class="form-group">
                      <label for="allowed-sites" class="col-sm-2 control-label">Allowed Sites</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" style="resize: vertical; width: 100%; height: 80px;" id="allowed-sites-txt" name="allowed-sites-txt" placeholder="Example: google.com, sv1.google.com"><%= settings.allowedSites || '' %></textarea>
                        <span class="help-block">You can prevent giving iframes to your player from other sites. Use <code>,</code> to separate the sites without entering the protocol. When a site that is not in this list places your password, it is automatically directed to the main page of your site.</span>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="stream-link" role="tabpanel" aria-labelledby="stream-link-tab">
                    <br>
                    <div class="form-group">
                      <label for="allowed-playlist" class="col-sm-2 control-label">Allowed Playlist</label>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="allowed-playlist" <%= settings.allowedPlaylist ? 'checked' : '' %>>
                        <label class="form-check-label" for="allowed-playlist">Press to Activate</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="allowed-playlist-index" class="col-sm-2 control-label">Allowed Playlist Index</label>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="allowed-playlist-index" <%= settings.allowedPlaylistIndex ? 'checked' : '' %>>
                        <label class="form-check-label" for="allowed-playlist-index">Press to Activate</label>
                      </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <div class="col-sm-10">
                        <div class="form-group">
                          <table id="repeatable-fieldset-one1" width="100%" class="dt_table_admin1 ui-sortable table table-striped table-bordered">
                            <thead class="thead-light">
                              <tr>
                                <th width="60%">Domains</th>
                                <th width="40%">
                                  <a id="add-row1" class="btn btn-info add_row" href="javascript:void(0);">
                                    Add Domain <i class="icon-plus"></i>
                                  </a>
                                </th>
                              </tr>
                            </thead>
                            <tbody id="domain-list">
                              <% if (settings.streamLinkDomains) { %>
                                <% settings.streamLinkDomains.split(',').forEach(domain => { %>
                                  <tr>
                                    <td class="text_player"><input type="text" class="form-control" name="stream-link-domains" value="<%= domain %>"></td>
                                    <td><button type="button" class="btn btn-danger remove-row">Remove</button></td>
                                  </tr>
                                <% }) %>
                              <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="tab-pane fade" id="p2p" role="tabpanel" aria-labelledby="p2p-tab">
                    <br>
                    <div class="form-group">
                      <label for="allowed-p2p" class="col-sm-2 control-label">P2P Plugin</label>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="allowed-p2p" <%= settings.allowedP2P ? 'checked' : '' %>>
                        <label class="form-check-label" for="allowed-p2p">To prevent bandwidth and hitch problems, this feature will be activated for users who watch via PC.</label>
                      </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <div class="col-sm-10">
                        <div class="form-group">
                          <table id="repeatable-fieldset-one2" width="100%" class="dt_table_admin1 ui-sortable table table-striped table-bordered">
                            <thead class="thead-light">
                              <tr>
                                <th width="60%">Server</th>
                                <th width="40%">Operation</th>
                              </tr>
                            </thead>
                            <tbody id="domain-list-p2p">
                              <% if (settings.p2pLink) { %>
                                <% settings.p2pLink.split(',').forEach(link => { %>
                                  <tr>
                                    <td class="text_player"><input type="text" class="form-control" name="p2p-link" value="<%= link %>"></td>
                                    <td><button type="button" class="btn btn-danger remove-row-p2p">Remove</button></td>
                                  </tr>
                                <% }) %>
                              <% } %>
                            </tbody>
                          </table>
                          <button id="p2p-add-row1" class="btn btn-info add_row mt-2" type="button">New Server</button>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="tab-pane fade" id="stream-api" role="tabpanel" aria-labelledby="stream-api-tab">
                    <br>
                    <div class="form-group">
                      <label for="allowed-api-nuxt" class="col-sm-2 control-label">Stream API By Nuxt</label>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="allowed-api-nuxt" <%= settings.allowedApiNuxt ? 'checked' : '' %>>
                        <label class="form-check-label" for="allowed-api-nuxt">Use a pair of Nuxt scripts using Nuxt as the Embed Player.</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="api-nuxt-key" class="col-sm-2 control-label">API Key</label>
                      <input type="text" class="form-control" id="api-nuxt-key" placeholder="API Key" value="<%= settings.streamApiKey || '' %>">
                    </div>
                    <hr>
                    <div class="container">
                      <div class="api-section">
                        <h2>Authentication</h2>
                        <p>ทุก endpoint ต้องการการยืนยันตัวตนด้วย API Key คุณสามารถรับ API Key ของคุณได้จากพอร์ทัลสำหรับนักพัฒนา</p>
                        <pre><code>Authorization: Bearer &lt;your_api_key&gt;</code></pre>
                      </div>
                      <div class="api-section">
                        <h2>Endpoints Member</h2>
                        <div class="endpoint">
                          <span class="endpoint-method get">GET</span> <code>/api/streams</code> ดึงข้อมูลสตรีมทั้งหมด
                        </div>
                        <div class="endpoint">
                          <span class="endpoint-method get">GET</span> <code>/api/streams/{stream_id}</code> ดึงรายละเอียดของสตรีมเฉพาะจาก ID
                        </div>
                        <div class="endpoint">
                          <span class="endpoint-method post">POST</span> <code>/api/streams</code> ดึงข้อมูลสตรีมทั้งหมด
                        </div>
                      </div>
                      <div class="api-section">
                        <h2>Usage Example</h2>
                        <h3>Embed Player with Nuxt</h3>
                        <p>ในการใช้งาน Nuxt เป็นตัวเล่นฝัง (Embed Player) ให้ตรวจสอบว่าคุณมีการตั้งค่าดังต่อไปนี้:</p>
                        <pre><code></code></pre>
                        <p>ตรวจสอบให้แน่ใจว่าคุณได้แทนค่าตัวอย่างที่ใช้ด้วยข้อมูลสตรีมและ API Key ของคุณจริงๆ</p>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
                <br>
              </div>
            </div>
            <div class="btn-group-custom">
              <button class="btn btn-primary" id="save-settings">Save</button>
            </div>
     
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
    function addRow(tableId, inputName) {
      const newRow = `
        <tr>
          <td class="text_player"><input type="text" class="form-control" name="${inputName}" value=""></td>
          <td><button type="button" class="btn btn-danger remove-row">Remove</button></td>
        </tr>`;
      $(`#${tableId}`).append(newRow);
    }

    function removeRow(event) {
      $(event.target).closest('tr').remove();
    }

    $('#p2p-add-row1').click(() => addRow('domain-list-p2p', 'p2p-link'));
    $('#add-row1').click(() => addRow('domain-list', 'stream-link-domains'));
    $(document).on('click', '.remove-row', removeRow);

    $('#save-settings').click(function() {
      const settings = {
        playerUrl: $('#player-url').val(),
        iframeHeight: $('input[name="settings-iframe_height-"]').val(),
        iframeWidth: $('input[name="settings-iframe_width"]').val(),
        jwplayerKey: $('#jwplayer-key').val(),
        jwplayerUrl: $('#jwplayer-url').val(),
        defaultImage: $('#player-defaultimage').val(),
        rememberPosition: $('#player-rememberposition').is(':checked'),
        logoUrl: $('#logo-url').val(),
        logoTarget: $('#logo-target').val(),
        logoPosition: $('#logo-position').val(),
        allowedSites: $('#allowed-sites-txt').val(),
        streamLinkDomains: $('input[name="stream-link-domains"]').map(function() { return $(this).val(); }).get().join(','),
        p2pLink: $('input[name="p2p-link"]').map(function() { return $(this).val(); }).get().join(','),
        streamApiKey: $('#api-nuxt-key').val(),
        playerRememberPosition: $('#player-rememberposition').is(':checked'),
        logoSwitchChack: $('#logo-switch-chack').is(':checked'),
        logoSwitchHide: $('#logo-switch-hide').is(':checked'),
        allowedPlaylist: $('#allowed-playlist').is(':checked'),
        allowedPlaylistIndex: $('#allowed-playlist-index').is(':checked'),
        allowedP2P: $('#allowed-p2p').is(':checked'),
        allowedApiNuxt: $('#allowed-api-nuxt').is(':checked')
      };

      $.ajax({
        type: 'POST',
        url: '/setting-player',
        data: JSON.stringify(settings),
        contentType: 'application/json',
        success: function(response) {
          Swal.fire({
            icon: 'success',
            title: 'Settings Saved',
            text: response.message
          });
        },
        error: function(error) {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'There was an error saving the settings.'
          });
        }
      });
    });
  });
</script>

<%- include('../partials/footer') %>
