<%- include('../partials/header') %>
  <%- include('../partials/navbar', { username: username, apiKey: apiKey, userid: userid }) %>

    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <style>
        /* CSS Styling */
        .btn-group-custom {
          display: flex;
          justify-content: center;
          gap: 10px;
        }

        .btn-group-custom button {
          flex: 1;
        }

        .video-thumbnail {
          width: 100px;
          height: 100px;
          object-fit: cover;
          margin-right: 10px;
        }

        .custom-height {
          height: 800px;
          /* Adjust height as needed */
        }

        .important-note {
          color: red;
          font-weight: bold;
        }

        .form-group {
          display: flex;
          align-items: center;
        }

        .form-group>.col-sm-5 {
          flex: 1;
          padding-right: 10px;
        }

        .form-group>.col-sm-5:last-child {
          padding-right: 0;
        }

        .form-group>.col-sm-2 {
          flex: 0 0 15%;
        }

        .table {
          margin-top: 10px;
        }

        .thead-light {
          background-color: #f8f9fa;
        }

        .btn-info {
          margin-left: 10px;
        }

        .btn-danger {
          margin-left: 10px;
        }

        .form-control {
          width: 100%;
        }

        .table td,
        .table th {
          vertical-align: middle;
        }

        .endpoint-method {
          width: 80px;
          display: inline-block;
          font-weight: bold;
          text-align: center;
          border-radius: 4px;
          padding: 5px;
        }

        .endpoint-method.get {
          background-color: #28a745;
          color: white;
        }

        .endpoint-method.post {
          background-color: #007bff;
          color: white;
        }

        .endpoint-method.put {
          background-color: #ffc107;
          color: white;
        }

        .endpoint-method.delete {
          background-color: #dc3545;
          color: white;
        }

        .endpoint {
          margin-bottom: 10px;
        }

        .api-section {
          margin-top: 40px;
        }

        #adFieldsContainer {
          max-height: auto;
          /* Adjust the height as needed */
          overflow-y: auto;
          padding: 15px;
        }

        .ad-field {
          display: flex;
          align-items: center;
          background-color: #f8f9fa;
          padding: 10px;
          border: 1px solid #dee2e6;
          margin-bottom: 10px;
        }

        .ad-field .col {
          flex: 1;
        }

        .ad-field .col-auto {
          flex: none;
        }

        .ad-field .remove-ad-field {
          margin-left: 10px;
        }

        .add_row {
          display: block;
          border: 1px dashed #0076aa;
          padding: 7px;
          background: #fdfdfd;
          border-radius: 2px;
          text-align: center;
          font-weight: 400;
          cursor: pointer;
          transition: background 0.3s;
          text-decoration: none;
        }
      </style>

      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0 font-weight-bold text-primary">Domain List</h6>
                  <div class="form-group row ml-2 mb-0 align-items-center">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                      data-bs-target="#addDomainModal">ADD Domain</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th>#</th>
                        <th>Domain name</th>
                        <th>Ad Active</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (domains.length> 0) { %>
                        <% domains.forEach((domain, index)=> { %>
                          <tr data-id="<%= domain.id %>">
                            <td>
                              <%= index + 1 %>
                            </td>
                            <td>
                              <%= domain.domainName %>
                            </td>
                            <td>
                              <%= domain.adActive ? 'Yes' : 'No' %>
                            </td>
                            <td>
                              <button class="btn btn-info btn-sm edit-domain" data-id="<%= domain.id %>"
                                data-ad-fields='<%- JSON.stringify(domain.adFields) %>' data-bs-toggle="modal"
                                data-bs-target="#editDomainModal<%= domain.id %>">Edit</button>
                              <button class="btn btn-danger btn-sm delete-domain"
                                data-id="<%= domain.id %>">Delete</button>
                            </td>
                          </tr>

                          <!-- Edit Domain Modal -->
                          <div class="modal fade" id="editDomainModal<%= domain.id %>" tabindex="-1"
                            aria-labelledby="editDomainModalLabel<%= domain.id %>" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="editDomainModalLabel<%= domain.id %>">Edit Domain <%=
                                      domain.domainName %>
                                  </h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form class="edit-domain-form">
                                    <h6>JWPlayer Settings</h6>
                                    <ul class="nav nav-tabs" id="editTab<%= domain.id %>" role="tablist">
                                      <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="general-settings-edit-tab<%= domain.id %>"
                                          data-bs-toggle="tab" data-bs-target="#general-settings-edit<%= domain.id %>"
                                          type="button" role="tab" aria-controls="general-settings-edit<%= domain.id %>"
                                          aria-selected="true">General Settings</button>
                                      </li>
                                      <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="logo-settings-edit-tab<%= domain.id %>"
                                          data-bs-toggle="tab" data-bs-target="#logo-settings-edit<%= domain.id %>"
                                          type="button" role="tab" aria-controls="logo-settings-edit<%= domain.id %>"
                                          aria-selected="false">Logo Settings</button>
                                      </li>
                                      <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="preroll-settings-edit-tab<%= domain.id %>"
                                          data-bs-toggle="tab" data-bs-target="#preroll-settings-edit<%= domain.id %>"
                                          type="button" role="tab" aria-controls="preroll-settings-edit<%= domain.id %>"
                                          aria-selected="false">Advertising</button>
                                      </li>
                                    </ul>
                                    <div class="tab-content" id="editTabContent<%= domain.id %>">
                                      <div class="tab-pane fade show active" id="general-settings-edit<%= domain.id %>"
                                        role="tabpanel" aria-labelledby="general-settings-edit-tab<%= domain.id %>">
                                        <div class="mb-3">
                                          <label for="editDomainName<%= domain.id %>" class="form-label">Domain
                                            Name</label>
                                          <input type="text" class="form-control editDomainName"
                                            id="editDomainName<%= domain.id %>" placeholder="Enter domain name"
                                            value="<%= domain.domainName %>">
                                        </div>
                                        <div class="mb-3">
                                          <label for="editDefaultBgImage<%= domain.id %>" class="form-label">Default
                                            Background Image</label>
                                          <input type="text" class="form-control editDefaultBgImage"
                                            id="editDefaultBgImage<%= domain.id %>" placeholder="Enter image URL"
                                            value="<%= domain.defaultBgImage %>">
                                        </div>
                                      </div>
                                      <div class="tab-pane fade" id="logo-settings-edit<%= domain.id %>" role="tabpanel"
                                        aria-labelledby="logo-settings-edit-tab<%= domain.id %>">
                                        <div class="form-check form-switch mt-3">
                                          <input class="form-check-input editHideLogo" type="checkbox"
                                            id="editHideLogo<%= domain.id %>" <%=domain.hideLogo ? 'checked' : '' %>>
                                          <label class="form-check-label" for="editHideLogo<%= domain.id %>">Hide
                                            Logo</label>
                                        </div>
                                        <div class="mb-3">
                                          <label for="editLogoURL<%= domain.id %>" class="form-label">Logo URL</label>
                                          <input type="text" class="form-control editLogoURL"
                                            id="editLogoURL<%= domain.id %>" placeholder="Enter logo URL"
                                            value="<%= domain.logoURL %>">
                                        </div>
                                        <div class="mb-3">
                                          <label for="editLogoLink<%= domain.id %>" class="form-label">Logo Link</label>
                                          <input type="text" class="form-control editLogoLink"
                                            id="editLogoLink<%= domain.id %>" placeholder="Enter logo link"
                                            value="<%= domain.logoLink %>">
                                        </div>
                                        <div class="mb-3">
                                          <label for="editLogoPosition<%= domain.id %>" class="form-label">Logo
                                            Position</label>
                                          <select class="form-select editLogoPosition"
                                            id="editLogoPosition<%= domain.id %>">
                                            <option value="top-left" <%=domain.logoPosition==='top-left' ? 'selected'
                                              : '' %>>Top Left</option>
                                            <option value="top-right" <%=domain.logoPosition==='top-right' ? 'selected'
                                              : '' %>>Top Right</option>
                                            <option value="bottom-left" <%=domain.logoPosition==='bottom-left'
                                              ? 'selected' : '' %>>Bottom Left</option>
                                            <option value="bottom-right" <%=domain.logoPosition==='bottom-right'
                                              ? 'selected' : '' %>>Bottom Right</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="tab-pane fade" id="preroll-settings-edit<%= domain.id %>"
                                        role="tabpanel" aria-labelledby="preroll-settings-edit-tab<%= domain.id %>">
                                        <div class="form-check form-switch mt-3">
                                          <input class="form-check-input editAdActive" type="checkbox"
                                            id="editAdActive<%= domain.id %>" <%=domain.adActive ? 'checked' : '' %>>
                                          <label class="form-check-label"
                                            for="editAdActive<%= domain.id %>">Active</label>
                                        </div>
                                        <div id="editAdFieldsContainer<%= domain.id %>" class="editAdFieldsContainer">
                                          <!-- Ad fields will be dynamically added here -->
                                        </div>
                                        <button type="button" class="btn btn-info editAddAdField"
                                          data-id="<%= domain.id %>">Add Ad Video</button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary saveEditDomainBtn"
                                    data-id="<%= domain.id %>">Save changes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% }) %>
                            <% } else { %>
                              <tr>
                                <td colspan="8" class="text-center">No site to list was found.</td>
                              </tr>
                              <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    </div>
    <!-- Add Domain Modal -->
    <div class="modal fade" id="addDomainModal" tabindex="-1" aria-labelledby="addDomainModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addDomainModalLabel">Add Domain</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="domainForm">
              <h6>JWPlayer Settings</h6>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="general-settings-tab" data-bs-toggle="tab"
                    data-bs-target="#general-settings" type="button" role="tab" aria-controls="general-settings"
                    aria-selected="true">General Settings</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="logo-settings-tab" data-bs-toggle="tab" data-bs-target="#logo-settings"
                    type="button" role="tab" aria-controls="logo-settings" aria-selected="false">Logo Settings</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="preroll-settings-tab" data-bs-toggle="tab"
                    data-bs-target="#preroll-settings" type="button" role="tab" aria-controls="preroll-settings"
                    aria-selected="false">Advertising</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="general-settings" role="tabpanel"
                  aria-labelledby="general-settings-tab">
                  <div class="mb-3">
                    <label for="domainName" class="form-label">Domain Name</label>
                    <input type="text" class="form-control" id="domainName" placeholder="Enter domain name">
                  </div>
                  <div class="mb-3">
                    <label for="defaultBgImage" class="form-label">Default Background Image</label>
                    <input type="text" class="form-control" id="defaultBgImage" placeholder="Enter image URL">
                  </div>
                </div>
                <div class="tab-pane fade" id="logo-settings" role="tabpanel" aria-labelledby="logo-settings-tab">
                  <div class="form-check form-switch mt-3">
                    <input class="form-check-input" type="checkbox" id="hideLogo">
                    <label class="form-check-label" for="hideLogo">Hide Logo</label>
                  </div>
                  <div class="mb-3">
                    <label for="logoURL" class="form-label">Logo URL</label>
                    <input type="text" class="form-control" id="logoURL" placeholder="Enter logo URL">
                  </div>
                  <div class="mb-3">
                    <label for="logoLink" class="form-label">Logo Link</label>
                    <input type="text" class="form-control" id="logoLink" placeholder="Enter logo link">
                  </div>
                  <div class="mb-3">
                    <label for="logoPosition" class="form-label">Logo Position</label>
                    <select class="form-select" id="logoPosition">
                      <option selected>Choose...</option>
                      <option value="top-left">Top Left</option>
                      <option value="top-right">Top Right</option>
                      <option value="bottom-left">Bottom Left</option>
                      <option value="bottom-right">Bottom Right</option>
                    </select>
                  </div>
                </div>
                <div class="tab-pane fade" id="preroll-settings" role="tabpanel" aria-labelledby="preroll-settings-tab">
                  <div class="form-check form-switch mt-3">
                    <input class="form-check-input" type="checkbox" id="adActive">
                    <label class="form-check-label" for="adActive">Active</label>
                  </div>
                  <div id="adFieldsContainer"></div>
                  <button type="button" class="btn btn-info" id="addAdField">Add Ad Field</button>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveDomainBtn">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- SortableJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

    <script>
      $(document).ready(function () {
        // Add new ad field for the Add Domain modal
        $('#addAdField').click(function () {
          const adFieldsContainer = $('#adFieldsContainer');
          const newAdField = $(`
      <div class="ad-field row align-items-center mb-3">
        <div class="col">
          <label for="adURL" class="form-label">Ad URL</label>
          <input type="text" class="form-control" placeholder="Enter ad URL">
        </div>
        <div class="col">
          <label for="adLink" class="form-label">Ad Link</label>
          <input type="text" class="form-control" placeholder="Enter ad link">
        </div>
        <div class="col">
          <label for="adTime" class="form-label">Ad Time</label>
          <input type="text" class="form-control" placeholder="Enter ad Time">
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-danger remove-ad-field"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
    `);
          adFieldsContainer.append(newAdField);

          // Add event listener for the remove button
          newAdField.find('.remove-ad-field').click(function () {
            $(this).closest('.ad-field').remove();
          });
        });

        // Save new domain
        $('#saveDomainBtn').click(function () {
          const domainSettings = {
            domainName: $('#domainName').val(),
            defaultBgImage: $('#defaultBgImage').val(),
            hideLogo: $('#hideLogo').prop('checked'),
            logoURL: $('#logoURL').val(),
            logoLink: $('#logoLink').val(),
            logoPosition: $('#logoPosition').val(),
            adActive: $('#adActive').prop('checked'),
            adFields: [],
            iMemberID: "<%= userid %>"
          };

          $('#adFieldsContainer .ad-field').each(function () {
            const adField = {
              adURL: $(this).find('input[placeholder="Enter ad URL"]').val(),
              adLink: $(this).find('input[placeholder="Enter ad link"]').val(),
              adTime: $(this).find('input[placeholder="Enter ad Time"]').val()
            };
            domainSettings.adFields.push(adField);
          });

          $.ajax({
            url: '/settings-domains-add',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(domainSettings),
            success: function (response) {
              Swal.fire('Success', 'Domain settings saved successfully!', 'success');
              location.reload();
            },
            error: function (xhr, status, error) {
              Swal.fire('Error', 'Failed to save domain settings', 'error');
            }
          });
        });

        // Edit domain
        $('.edit-domain').click(function () {
          const domainId = $(this).data('id');
          const adFields = JSON.parse($(this).attr('data-ad-fields'));
          const modal = $(`#editDomainModal${domainId}`);

          // Clear existing ad fields
          const adFieldsContainer = modal.find('.editAdFieldsContainer');
          adFieldsContainer.empty();

          // Add existing ad fields from the database
          adFields.forEach(field => {
            const newAdField = $(`
        <div class="ad-field row align-items-center mb-3">
          <div class="col">
            <label for="adURL" class="form-label">Ad URL</label>
            <input type="text" class="form-control" placeholder="Enter ad URL" value="${field.adURL}">
          </div>
          <div class="col">
            <label for="adLink" class="form-label">Ad Link</label>
            <input type="text" class="form-control" placeholder="Enter ad link" value="${field.adLink}">
          </div>
          <div class="col">
            <label for="adTime" class="form-label">Ad Time</label>
            <input type="text" class="form-control" placeholder="Enter ad Time" value="${field.adTime}">
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-danger remove-ad-field"><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>
      `);
            adFieldsContainer.append(newAdField);

            // Add event listener for the remove button
            newAdField.find('.remove-ad-field').click(function () {
              $(this).closest('.ad-field').remove();
            });
          });

          // Add new ad field for the Edit Domain modal
          modal.find('.editAddAdField').click(function () {
            const newAdField = $(`
        <div class="ad-field row align-items-center mb-3">
          <div class="col">
            <label for="adURL" class="form-label">Ad URL</label>
            <input type="text" class="form-control" placeholder="Enter ad URL">
          </div>
          <div class="col">
            <label for="adLink" class="form-label">Ad Link</label>
            <input type="text" class="form-control" placeholder="Enter ad link">
          </div>
          <div class="col">
            <label for="adTime" class="form-label">Ad Time</label>
            <input type="text" class="form-control" placeholder="Enter ad Time">
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-danger remove-ad-field"><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>
      `);
            adFieldsContainer.append(newAdField);

            // Add event listener for the remove button
            newAdField.find('.remove-ad-field').click(function () {
              $(this).closest('.ad-field').remove();
            });
          });
        });

        // Save edited domain
        $('.saveEditDomainBtn').click(function () {
          const domainId = $(this).data('id');
          const modal = $(`#editDomainModal${domainId}`);
          const domainSettings = {
            domainName: modal.find('.editDomainName').val(),
            defaultBgImage: modal.find('.editDefaultBgImage').val(),
            hideLogo: modal.find('.editHideLogo').prop('checked'),
            logoURL: modal.find('.editLogoURL').val(),
            logoLink: modal.find('.editLogoLink').val(),
            logoPosition: modal.find('.editLogoPosition').val(),
            adActive: modal.find('.editAdActive').prop('checked'),
            adFields: []
          };

          modal.find('.editAdFieldsContainer .ad-field').each(function () {
            const adField = {
              adURL: $(this).find('input[placeholder="Enter ad URL"]').val(),
              adLink: $(this).find('input[placeholder="Enter ad link"]').val(),
              adTime: $(this).find('input[placeholder="Enter ad Time"]').val()
            };
            domainSettings.adFields.push(adField);
          });

          $.ajax({
            url: `/settings-domains/${domainId}`,
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(domainSettings),
            success: function (response) {
              Swal.fire('Success', 'Domain updated successfully!', 'success');
              location.reload();
            },
            error: function (xhr, status, error) {
              Swal.fire('Error', 'Failed to update domain', 'error');
            }
          });
        });

        // Delete domain
        $('.delete-domain').click(function () {
          const domainId = $(this).data('id');
          Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.isConfirmed) {
              $.ajax({
                url: `/settings-domains/${domainId}`,
                method: 'DELETE',
                success: function (response) {
                  Swal.fire('Deleted!', 'Your domain has been deleted.', 'success');
                  location.reload();
                },
                error: function (xhr, status, error) {
                  Swal.fire('Error', 'Failed to delete domain', 'error');
                }
              });
            }
          });
        });
      });



    </script>


    <%- include('../partials/footer') %>
      </div>