<!-- Your existing HTML content -->
<%- include('../partials/header') %>
  <%- include('../partials/navbar', { username: username, apiKey: apiKey, userid: userid, server: servers }) %>

    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-1 text-gray-800">Google Drive</h1>
      <style>
        .btn-group-custom {
          display: flex;
          justify-content: center;
          gap: 10px;
        }

        .btn-group-custom button {
          flex: 1;
        }

        .video-thumbnail {
          width: 100px;
          height: 100px;
          object-fit: cover;
          margin-right: 10px;
        }

        .custom-height {
          height: 800px;
          /* ปรับตามความสูงที่ต้องการ */
        }
      </style>
      <div class="row">
        <div class="col-lg-6">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Single file Add</h6>
            </div>
            <div class="card-body">
              <div class="upload-container">
                <h5 class="text-center">Upload files you want to share with Videos MP4, MKV, TS are allowed.</h5>
                <div class="upload-area" id="uploadArea">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="single-drive"
                      aria-describedby="single-drive" placeholder="https://drive.google.com/file/d/xxxxx/view">
                  </div>
                  <select class="form-control form-control-sm" id="singleServerSelect">
                    <option value="">Select Server</option>
                    <% servers.forEach(server=> {
                      const domains = JSON.parse(server.domains);
                      %>
                      <option value="<%= domains[0] %>" data-server-id="<%= server.id %>">
                        <%= server.name %>
                      </option>
                      <% }) %>
                  </select>
                  <br>
                  <div class="btn-group-custom">
                    <button class="btn btn-primary" id="add-single-drive">ADD</button>
                  </div>
                  <input type="file" id="fileInput" multiple style="display: none;">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card shadow mb-4 custom-card-height">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">List File ADD</h6>
            </div>
            <div class="card-body">
              <div class="form-group">
                <textarea class="form-control form-control-user" id="multiple-drives" rows="10"
                  placeholder="https://drive.google.com/file/d/xxxxx/view&#10;https://drive.google.com/file/d/yyyy/view"></textarea>
              </div>
              <select class="form-control form-control-sm" id="multipleServerSelect">
                <option value="">Select Server</option>
                <% servers.forEach(server=> {
                  const domains = JSON.parse(server.domains);
                  %>
                  <option value="<%= domains[0] %>" data-server-id="<%= server.id %>">
                    <%= server.name %>
                  </option>
                  <% }) %>
              </select>
              <br>
              <div class="btn-group-custom">
                <button class="btn btn-primary" id="add-multiple-drives">ADD</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Google Drive API ADD</h6>
            </div>
            <div class="card-body">
              <p>GET : {base_url}/api/add-drive?url={url drive}&key={key}&server={id}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
      $(document).ready(function () {
        let servers = [];
        let serversid = [];
        let uploadToken = '<%= apiKey %>';

        $('#singleServerSelect').on('change', function () {
          const selectedServerIp = $(this).val();
          const selectedServerId = $(this).find(':selected').data('server-id');
          servers = [selectedServerIp];
          serversid = [selectedServerId];
        });

        $('#multipleServerSelect').on('change', function () {
          const selectedServerIp = $(this).val();
          const selectedServerId = $(this).find(':selected').data('server-id');
          servers = [selectedServerIp];
          serversid = [selectedServerId];
        });

        $('#add-single-drive').click(function () {
          var driveLink = $('#single-drive').val();
          var serverId = $('#singleServerSelect').find(':selected').data('server-id');
          var iMemberID = '<%= userid %>';

          if (driveLink === "" || serverId === undefined) {
            Swal.fire('Error', 'Please enter a valid Google Drive link and select a server.', 'error');
            return;
          }

          $.ajax({
            url: '/api/add-single-drive',
            type: 'POST',
            contentType: 'application/json',
            headers: {
              'Authorization': 'Bearer ' + uploadToken
            },
            data: JSON.stringify({
              driveLink: driveLink,
              serverId: serverId,
              iMemberID: iMemberID
            }),
            success: function (response) {
              Swal.fire('Success', 'Google Drive link added successfully!', 'success');
              // You can also add code here to update the UI with the new file/link
            },
            error: function (xhr, status, error) {
              if (xhr.status === 400 && xhr.responseText === 'This Google Drive link already exists in the database') {
                Swal.fire('Duplicate Link', 'This Google Drive link already exists in the database.', 'warning');
              } else {
                Swal.fire('Error', 'Failed to add Google Drive link. Please try again.', 'error');
              }
            }
          });
        });

        $('#add-multiple-drives').click(function () {
          var driveLinks = $('#multiple-drives').val().split('\n');
          var serverId = $('#multipleServerSelect').find(':selected').data('server-id');
          var iMemberID = '<%= userid %>';

          if (driveLinks.length === 0 || serverId === undefined) {
            Swal.fire('Error ADD multiple-drives', 'List File ADD Please enter at least one valid Google Drive link and select a server.', 'error');
            return;
          }

          var successfulLinks = 0;
          var duplicateLinks = 0;
          var failedLinks = 0;

          function addDriveLinkWithDelay(index) {
            if (index >= driveLinks.length) {
              Swal.fire({
                icon: "info",
                title: "Process Completed",
                text: `Total links processed: ${driveLinks.length}\nSuccessful: ${successfulLinks}\nDuplicates: ${duplicateLinks}\nFailed: ${failedLinks}`,
                showConfirmButton: true
              });
              return;
            }

            var driveLink = driveLinks[index].trim(); // Remove any extra whitespace
            if (driveLink === "") {
              addDriveLinkWithDelay(index + 1); // Skip empty lines
              return;
            }

            $.ajax({
              url: '/api/add-single-drive',
              type: 'POST',
              contentType: 'application/json',
              headers: {
                'Authorization': 'Bearer ' + uploadToken
              },
              data: JSON.stringify({
                driveLink: driveLink,
                serverId: serverId,
                iMemberID: iMemberID
              }),
              success: function (response) {
                successfulLinks++;
                Swal.fire({
                  icon: "success",
                  title: `Your work has been saved ${driveLink}`,
                  showConfirmButton: false,
                  timer: 1500
                });

                setTimeout(function () {
                  addDriveLinkWithDelay(index + 1);
                }, 1500); // 1.5-second delay
              },
              error: function (xhr, status, error) {
                if (xhr.status === 400 && xhr.responseText === 'This Google Drive link already exists in the database') {
                  duplicateLinks++;
                  Swal.fire({
                    icon: "warning",
                    title: "Duplicate Link",
                    text: `The link ${driveLink} already exists in the database.`,
                    showConfirmButton: false,
                    timer: 1500
                  });
                } else {
                  failedLinks++;
                  Swal.fire('Error', `Failed to add Google Drive link ${driveLink}. Please try again.`, 'error');
                }
                setTimeout(function () {
                  addDriveLinkWithDelay(index + 1);
                }, 20000); // 20-second delay
              }
            });
          }

          addDriveLinkWithDelay(0);
        });
      });
    </script>


    <%- include('../partials/footer') %>