<%- include('../partials/header') %>
<%- include('../partials/navbar', { username: username, apiKey: apiKey, BaseUrl: BaseUrl }) %>

<script>
    const BaseUrl = "<%= BaseUrl %>";
</script>

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Search Video</h6>
                </div>
                <div class="card-body">
                    <div class="panel-body">
                        <form class="form-horizontal tasi-form" method="post" id="searchForm">
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="s_hash" placeholder="Hash" value="">
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="s_strTitle" placeholder="Title" value="">
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="s_strUrl" placeholder="URL" value="">
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="s_iType">
                                        <option value="">Type</option>
                                        <option value="upload">UPLOAD</option>
                                        <option value="google-drive">GOOGLE DRIVE</option>
                                        <option value="remote-mp4">Remote MP4</option>
                                        <option value="remote-m3u8">Remote M3U8</option>
                                    </select>
                                </div>
                                
                                <div class="col-sm-2">
                                    <select class="form-control" name="s_iStatus">
                                        <option value="">Status</option>
                                        <option value="0">Waiting</option>
                                        <option value="1">Completed</option>
                                        <option value="2">Failed</option>
                                        <option value="3">Working</option>
                                        <option value="4">Encoding</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                  <select class="form-control" id="strServer" name="s_strServer">
                                    <option value="">Server List</option>
                                  </select>
                                </div>
                                <div class="col-sm-2 mt-2">
                                    <button type="submit" class="btn btn-success">Search</button>
                                    <button id="clearButton" class="btn btn-secondary">Clear</button>
                                </div>
                            </div>
                            <input type="hidden" name="quickload" value="1">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Video Data</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="videoTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Storage</th>
                                    <th>Server</th>
                                    <th>Size</th>
                                    <th>Qualities</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="videoTableBody">
                                <!-- Video rows will be appended here -->
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center" id="pagination">
                            <!-- Pagination items will be appended here -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal HTML -->
<div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Player</h6>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <iframe src="" width="100%" height="420" frameborder="0" scrolling="no" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="row" style="padding-top:15px;">
          <div class="col-lg-12 form-horizontal tasi-form">
            <div class="form-group">
              <label class="col-sm-2 control-label">URL</label>
              <input type="text" id="url-modal" class="form-control" value="" readonly="">
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Iframe</label>
              <textarea class="form-control w-100" id="iframe-modal" style="resize:vertical;width:100%;height:140px;" readonly=""></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Video Modal -->
<div class="modal fade" id="editVideoModal" tabindex="-1" role="dialog" aria-labelledby="editVideoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="editVideoLabel">Edit Video</h6>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form id="editVideoForm">
          <div class="form-group">
            <label for="editVideoTitle">Title</label>
            <input type="text" class="form-control" id="editVideoTitle" name="title" required>
          </div>
          <div class="form-group">
            <label for="editVideoUrl">URL</label>
            <input type="text" class="form-control" id="editVideoUrl" name="url" required>
          </div>
          <div class="form-group">
            <label for="editVideoStatus">Status</label>
            <select class="form-control" id="editVideoStatus" name="iStatus" required>
              <option value="">Status</option>
              <option value="0">Waiting</option>
              <option value="1">Complete</option>
              <option value="2">Error</option>
              <option value="3">Processing</option>
              <option value="4">Downloading</option>
            </select>
          </div>
          <input type="hidden" id="editVideoId" name="id">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveEditVideo">Save changes</button>
      </div>
    </div>
  </div>
</div>



</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
document.addEventListener('DOMContentLoaded', function() {


  $('#playerModal').on('hidden.bs.modal', function () {
      var iframe = $('#videoIframe');
      var src = iframe.attr('src');
      iframe.attr('src', '');
      iframe.attr('src', src);
    });


  function selectText(event) {
      event.target.select();
    }
  
    document.getElementById('url-modal').addEventListener('click', selectText);
    document.getElementById('iframe-modal').addEventListener('click', selectText);

  fetch('/server-groups')
    .then(response => response.json())
    .then(data => {
      const select = document.getElementById('strServer');
      data.forEach(group => {
        const option = document.createElement('option');
        option.value = group.id;
        option.textContent = group.id;
        select.appendChild(option);
      });
    })
    .catch(error => console.error('Error fetching server groups:', error));
});

$(document).ready(function() {
    let currentPage = 1;
    const limit = 100;

    function fetchVideos(page = 1) {
      const formData = $('#searchForm').serializeArray().reduce((obj, item) => {
        obj[item.name] = item.value;
        return obj;
      }, {});

      formData.page = page;
      formData.limit = limit;

      $.ajax({
        url: '/search-videos',
        type: 'POST',
        data: formData,
        success: function(data) {
          renderTable(data.videos);
          //console.log(data.videos);
          renderPagination(data.totalPages, page);
        },
        error: function(error) {
          console.error('Error:', error);
        }
      });
    }

    function formatSize(bytes) {
  if (bytes === 0 || isNaN(bytes) || bytes === undefined || bytes === null) return 'Unknown';
  
  const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
  const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
  return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
}

function renderTable(videos) {
  const $tbody = $('#videoTableBody');
  $tbody.empty();

  const classMap = {
    'google-drive': 'bg-warning',
    'remote-mp4': 'bg-dark',
    'remote-m3u8': 'bg-primary'
  };
  const classMapIcon = {
    'localhost': 'localhost.svg',
    'gcs': 'cloud-dns.svg',
    's3': 's3.svg',
    'minio': 'minio.svg',
    'backblaze': 'backblaze.svg',
    'wasabi': 'wasabi.svg',
    'r2': 'cloudflare.svg',
    'ftp': 'ftp.svg'
};



  if (videos.length > 0) {
    videos.forEach(video => {
      const uploadType = video.iUpload; 
      const svgFile = classMapIcon[uploadType] || 'default.svg';  // Use a default SVG if key not found
      const $row = $('<tr></tr>');
      $row.append(`<td>${video.id}</td>`);
      $row.append(`<td>${video.strTitle}</td>`);
      
      const badgeClass = classMap[video.iType] || 'bg-info';
      $row.append(`<td><a href="${video.strUrl}" class="badge ${badgeClass}"><span class="text-white">${video.iType}</span></a></td>`);
      
      $row.append(`<td><a href="#" class="badge ${video.iStatus === 0 ? 'bg-warning' : video.iStatus === 1 ? 'bg-success' : video.iStatus === 2 ? 'bg-danger' : video.iStatus === 3 ? 'bg-info' : 'bg-primary'}" data-status="${video.iStatus}"><span class="text-white">${video.iStatus === 0 ? 'Waiting' : video.iStatus === 1 ? 'Complete' : video.iStatus === 2 ? 'Error' : video.iStatus === 3 ? 'Processing' : 'Downloading'}</span></a></td>`);
     
$row.append(`
  <td>

      <img src="./img/${svgFile}" alt="${uploadType}" class="icon-svg" width="24" height="24">
      <span class="text-white">${uploadType}</span>

  </td>
`);

      $row.append(`<td><span class="badge rounded-pill bg-dark text-white">${video.strServer}</span></td>`);
      $row.append(`<td><span class="badge rounded-pill bg-primary text-white">${video.TotalSize ? formatSize(parseInt(video.TotalSize, 10)) : 'N/A'}</span></td>`);

      const qualitiesArray = video.strQualities ? JSON.parse(video.strQualities) : [];
      const qualities = qualitiesArray.length > 0 ? qualitiesArray.map(quality => `<span class="badge bg-success text-white">${quality}</span>`).join(' ') : 'N/A';
      $row.append(`<td>${qualities}</td>`);

      $row.append(`
        <td>
          <a href="javascript:void(0);" class="btn btn-info btn-sm reset-video" data-id="${video.id}"><i class="fas fa-sync-alt"></i></a>
          <a href="javascript:void(0);" class="btn btn-info btn-sm copy-url" data-url="${BaseUrl}/play/${video.md5}"><i class="fas fa-link"></i></a>
          <a href="javascript:void(0);" class="btn btn-success btn-sm copy-iframe" data-url="${BaseUrl}/play/${video.md5}"><i class="fas fa-code"></i></a>
          <a href="javascript:void(0);" class="btn btn-warning btn-sm playermodal" data-url="${BaseUrl}/play/${video.md5}" data-id="${video.id}" data-name="${video.strTitle}"><i class="fas fa-eye"></i></a>
          <a href="javascript:void(0);" class="btn btn-primary btn-sm edit-video"><i class="fas fa-pencil-alt"></i></a>
          <a href="javascript:void(0);" class="btn btn-danger btn-sm delete-file" data-id="${video.id}" data-name="${video.strTitle}"><i class="fas fa-trash-alt"></i></a>
        </td>
      `);
      $tbody.append($row);
    });
  } else {
    $tbody.append('<tr><td colspan="9" class="text-center">ไม่มีข้อมูล</td></tr>');
  }
}

function renderPagination(totalPages, currentPage) {
    const $pagination = $('#pagination');
    $pagination.empty();

    if (totalPages <= 1) return;

    const maxDisplayedPages = 20;

    const createPageItem = (page, isActive = false) => {
        const $pageItem = $(`<li class="page-item ${isActive ? 'active' : ''}"><a class="page-link" href="#">${page}</a></li>`);
        $pageItem.on('click', function(e) {
            e.preventDefault();
            fetchVideos(page);
        });
        return $pageItem;
    };

    const createPageLink = (text, page, isDisabled = false) => {
        const $pageItem = $(`<li class="page-item ${isDisabled ? 'disabled' : ''}"><a class="page-link" href="#">${text}</a></li>`);
        if (!isDisabled) {
            $pageItem.on('click', function(e) {
                e.preventDefault();
                fetchVideos(page);
            });
        }
        return $pageItem;
    };

    if (currentPage > 1) {
        $pagination.append(createPageLink('ก่อนหน้า', currentPage - 1));
    } else {
        $pagination.append(createPageLink('ก่อนหน้า', null, true));
    }

    $pagination.append(createPageItem(1, currentPage === 1));

    if (currentPage > maxDisplayedPages) {
        $pagination.append('<li class="page-item"><span class="page-link">...</span></li>');
    }

    const startPage = Math.max(2, currentPage - 2);
    const endPage = Math.min(totalPages - 1, currentPage + 2);

    for (let i = startPage; i <= endPage; i++) {
        $pagination.append(createPageItem(i, i === currentPage));
    }

    if (currentPage < totalPages - maxDisplayedPages + 1) {
        $pagination.append('<li class="page-item"><span class="page-link">...</span></li>');
    }

    if (totalPages > 1) {
        $pagination.append(createPageItem(totalPages, currentPage === totalPages));
    }

    if (currentPage < totalPages) {
        $pagination.append(createPageLink('ถัดไป', currentPage + 1));
    } else {
        $pagination.append(createPageLink('ถัดไป', null, true));
    }
}





    $('#searchForm').on('submit', function(e) {
      e.preventDefault();
      fetchVideos(1);
    });

    $('#clearButton').on('click', function() {
      $('#searchForm')[0].reset();
      fetchVideos(1);
    });

    fetchVideos();

    // Function to handle play button click and show modal
    $(document).on('click', '.playermodal', function() {
      var videoUrl = $(this).data('url');
      var videoId = $(this).data('id');
      var videoName = $(this).data('name');

      $('#playerModal iframe').attr('src', videoUrl);
      $('#url-modal').val(videoUrl);
      $('#playerModal .modal-title').text(videoName);
      $('#iframe-modal').val('<iframe src="' + videoUrl + '" width="100%" height="420" frameborder="0" scrolling="no" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');
      
      $('#playerModal').modal('show');
    });

    // Function to show edit video modal
    $(document).on('click', '.edit-video', function() {
      var videoId = $(this).closest('tr').find('td:first').text();
      var videoTitle = $(this).closest('tr').find('td:nth-child(2)').text();
      var videoUrl = $(this).closest('tr').find('td:nth-child(3) a').attr('href');
      var videoStatus = $(this).closest('tr').find('td:nth-child(4) a').data('status');

      $('#editVideoId').val(videoId);
      $('#editVideoTitle').val(videoTitle);
      $('#editVideoUrl').val(videoUrl);
      $('#editVideoStatus').val(videoStatus);

      $('#editVideoModal').modal('show');
    });

    // Function to save changes
    $('#saveEditVideo').on('click', function() {
      var formData = $('#editVideoForm').serialize();

      $.ajax({
        url: '/edit-video',
        type: 'POST',
        data: formData,
        success: function(data) {
          if (data.success) {
            Swal.fire({
              icon: 'success',
              title: 'บันทึกการแก้ไขเรียบร้อยแล้ว',
              showConfirmButton: false,
              timer: 1500
            }).then(() => {
              location.reload();
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'เกิดข้อผิดพลาด',
              text: 'ไม่สามารถบันทึกการแก้ไขได้'
            });
          }
        },
        error: function(error) {
          console.error('Error:', error);
          Swal.fire({
            icon: 'error',
              title: 'เกิดข้อผิดพลาด',
              text: 'ไม่สามารถบันทึกการแก้ไขได้'
            });
        }
      });
    });

    // Function to reset video data
    $(document).on('click', '.reset-video', function() {
      var videoId = $(this).data('id');
      ResetVideoData(videoId);
    });

    function ResetVideoData(videoId) {
      const payload = {
        id: videoId,
        TotalSize: null,
        iStatus: 0,
        strTitle: null,
        timeUpdate: new Date().toISOString()
      };

      $.ajax({
        url: '/reset-video',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(payload),
        success: function(data) {
          if (data.success) {
            Swal.fire({
              icon: 'success',
              title: 'อัปเดตข้อมูลเรียบร้อยแล้ว',
              showConfirmButton: false,
              timer: 1500
            }).then(() => {
              location.reload();
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'เกิดข้อผิดพลาด',
              text: 'เกิดข้อผิดพลาดในการอัปเดตข้อมูล'
            });
          }
        },
        error: function(error) {
          console.error('Error:', error);
          Swal.fire({
            icon: 'error',
            title: 'เกิดข้อผิดพลาด',
            text: 'เกิดข้อผิดพลาดในการอัปเดตข้อมูล'
          });
        }
      });
    }

    // Function to copy URL
    $(document).on('click', '.copy-url', function() {
      var url = $(this).data('url');
      navigator.clipboard.writeText(url).then(function() {
        Swal.fire({
          icon: 'success',
          title: 'คัดลอก URL เรียบร้อยแล้ว',
          showConfirmButton: false,
          timer: 1500
        });
      }, function(err) {
        console.error('Error:', err);
        Swal.fire({
          icon: 'error',
          title: 'เกิดข้อผิดพลาด',
          text: 'ไม่สามารถคัดลอก URL ได้'
        });
      });
    });

    // Function to copy iframe code
    $(document).on('click', '.copy-iframe', function() {
      var url = $(this).data('url');
      var iframeCode = `<iframe src="${url}" width="100%" height="100%" frameborder="0" scrolling="no" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>`;
      navigator.clipboard.writeText(iframeCode).then(function() {
        Swal.fire({
          icon: 'success',
          title: 'คัดลอก iframe เรียบร้อยแล้ว',
          showConfirmButton: false,
          timer: 1500
        });
      }, function(err) {
        console.error('Error:', err);
        Swal.fire({
          icon: 'error',
          title: 'เกิดข้อผิดพลาด',
          text: 'ไม่สามารถคัดลอก iframe ได้'
        });
      });
    });

    // Function to confirm deletion
    $(document).on('click', '.delete-file', function() {
      var videoId = $(this).data('id');
      var videoName = $(this).data('name');

      Swal.fire({
        title: 'คุณแน่ใจหรือไม่?',
        text: `คุณต้องการลบ "${videoName}" หรือไม่?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'ยืนยัน',
        cancelButtonText: 'ยกเลิก'
      }).then((result) => {
        if (result.isConfirmed) {
          DeleteVideo(videoId);
        }
      });
    });

    function DeleteVideo(videoId) {
      $.ajax({
        url: `/delete-video/${videoId}`,
        type: 'DELETE',
        success: function(data) {
          if (data.success) {
            Swal.fire({
              icon: 'success',
              title: 'ลบข้อมูลเรียบร้อยแล้ว',
              showConfirmButton: false,
              timer: 1500
            }).then(() => {
              location.reload();
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'เกิดข้อผิดพลาด',
              text: 'เกิดข้อผิดพลาดในการลบข้อมูล'
            });
          }
        },
        error: function(error) {
          console.error('Error:', error);
          Swal.fire({
            icon: 'error',
            title: 'เกิดข้อผิดพลาด',
            text: 'เกิดข้อผิดพลาดในการลบข้อมูล'
          });
        }
      });
    }
  });
</script>

<%- include('../partials/footer') %>
