<!-- Your existing HTML content -->
<%- include('../partials/header') %>
<%- include('../partials/navbar', { username: username, apiKey: apiKey, userid: userid, server: servers }) %>

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-1 text-gray-800">Remote mp4</h1>
  <style>
    .btn-group-custom {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .btn-group-custom button {
      flex: 1;
    }

    .video-thumbnail {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
    }
    .custom-height {
      height: 800px; /* ปรับตามความสูงที่ต้องการ */
    }
  </style>
  <div class="row">
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Single file Add</h6>
        </div>
        <div class="card-body">
          <div class="upload-container">
            <div class="upload-area" id="uploadArea">
              <div class="form-group">
                <input type="text" class="form-control form-control-user" id="title" aria-describedby="title" placeholder="NAME">
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-user" id="strreferer" aria-describedby="strreferer" placeholder="Referer">
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-user" id="single-drive" aria-describedby="single-drive" placeholder="https://onlinetestcase.com/wp-content/uploads/2023/06/1MB.mp4">
              </div>
              <select class="form-control form-control-sm" id="serverSelect">
                <option value="">Select Server</option>
                <% servers.forEach(server => { 
                    const domains = JSON.parse(server.domains);
                %>
                <option value="<%= domains[0] %>" data-server-id="<%= server.id %>"><%= server.name %></option>
                <% }) %>
              </select>
              <br>
              <div class="btn-group-custom">
                <button class="btn btn-primary" id="add-single-drive">ADD</button>
              </div>
              <input type="file" id="fileInput" multiple style="display: none;">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Remote mp4 API ADD</h6>
        </div>
        <div class="card-body">
          <p>GET : {base_url}/api/remote-mp4?url={url .mp4}&key={key}&name={name}&server={id}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
    let servers = [];
    let serversid = [];
    let uploadToken = '<%= apiKey %>';
  
    $('#serverSelect').on('change', function() {
      const selectedServerIp = $(this).val();
      const selectedServerId = $(this).find(':selected').data('server-id');
      servers = [selectedServerIp];
      serversid = [selectedServerId];
    });
  
    $('#serverSelectMultiple').on('change', function() {
      const selectedServerIp = $(this).val();
      const selectedServerId = $(this).find(':selected').data('server-id');
      servers = [selectedServerIp];
      serversid = [selectedServerId];
    });
  
    $('#add-single-drive').click(function() {

      var title = $('#title').val();
      var driveLink = $('#single-drive').val();
      var serverId = $('#serverSelect').find(':selected').data('server-id');
      var iMemberID = '<%= userid %>';
      var strreferer = $('#strreferer').val();

  
      if (driveLink === "" || title === "" || serverId === undefined) {
        Swal.fire('Error', 'Please enter a valid Google Drive link and select a server.', 'error');
        return;
      }
  
      $.ajax({
        url: '/api/add-remote-mp4',
        type: 'POST',
        contentType: 'application/json',
        headers: {
          'Authorization': 'Bearer ' + uploadToken
        },
        data: JSON.stringify({
          title: title,
          driveLink: driveLink,
          serverId: serverId,
          iMemberID: iMemberID,
          strreferer: strreferer
        }),
        success: function(response) {
          Swal.fire('Success', 'Google Drive link added successfully!', 'success');
          // You can also add code here to update the UI with the new file/link
        },
        error: function(xhr, status, error) {
          if (xhr.status === 400 && xhr.responseText === 'This Google Drive link already exists in the database') {
            Swal.fire('Duplicate Link', 'This Google Drive link already exists in the database.', 'warning');
          } else {
            Swal.fire('Error', 'Failed to add Google Drive link. Please try again.', 'error');
          }
        }
      });
    });
  
    $('#add-multiple-drives').click(function() {
      var driveLinks = $('#multiple-drives').val().split('\n');
      var serverId = $('#serverSelectMultiple').find(':selected').data('server-id');
      var iMemberID = '<%= userid %>';
  
      if (driveLinks.length === 0 || serverId === undefined) {
        Swal.fire('Error', 'Please enter at least one valid Google Drive link and select a server. xxxxx', 'error');
        return;
      }
  
      driveLinks.forEach(function(driveLink) {
        driveLink = driveLink.trim(); // Remove any extra whitespace
        if (driveLink === "") return; // Skip empty lines
  
        $.ajax({
          url: '/api/add-remote-mp4',
          type: 'POST',
          contentType: 'application/json',
          headers: {
            'Authorization': 'Bearer ' + uploadToken
          },
          data: JSON.stringify({
            driveLink: driveLink,
            serverId: serverId,
            iMemberID: iMemberID
          }),
          success: function(response) {
            Swal.fire('Success', `Google Drive link ${driveLink} added successfully!`, 'success');
            // You can also add code here to update the UI with the new file/link
          },
          error: function(xhr, status, error) {
            if (xhr.status === 400 && xhr.responseText === 'This Google Drive link already exists in the database') {
              Swal.fire('Duplicate Link', `The link ${driveLink} already exists in the database.`, 'warning');
            } else {
              Swal.fire('Error', `Failed to add Google Drive link ${driveLink}. Please try again.`, 'error');
            }
          }
        });
      });
    });
  });
  </script>
  
<%- include('../partials/footer') %>
