<%- include('../partials/header') %>
<%- include('../partials/navbar', { username: username, apiKey: apiKey, userid: userid, server: servers }) %>

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-1 text-gray-800">Profile</h1>
  <style>
    .btn-group-custom {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .btn-group-custom button {
      flex: 1;
    }

    .video-thumbnail {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
    }
    .custom-height {
      height: 800px; /* ปรับตามความสูงที่ต้องการ */
    }
  </style>
  <div class="row">
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Upload Files</h6>
        </div>
        <div class="card-body">
          <div class="upload-container">
            <h5 class="text-center">Upload files you want to share with Videos MP4, MKV, TS are allowed.</h5>
            <div class="upload-area" id="uploadArea">
              <select class="form-control form-control-sm" id="serverSelect">
                <option value="">Select Server</option>
                <% servers.forEach(server => { 
                    const domains = JSON.parse(server.domains);
                %>
                <option value="<%= server.domainsup %>" data-server-id="<%= server.id %>"><%= server.name %></option>
                <% }) %>
              </select>
              <br>
              <div class="btn-group-custom">
                <button class="btn btn-primary" id="browseFilesButton">Browse Files</button>
                <button class="btn btn-primary" id="uploadFilesButton">Upload</button>
              </div>
              <input type="file" id="fileInput" multiple style="display: none;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card shadow mb-4 custom-card-height">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">List File Upload</h6>
        </div>
        <div class="card-body">
          <ul class="list-group mt-3" id="fileList"></ul>
        </div>
      </div>
    </div>
  </div>

<div class="row">
<div class="col-lg-6">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">ตรวจสอบข้อมูลวีดีโอ ก่อนที่จะอัพ</h6>
    </div>
    <div class="card-body">
      <center>
      <div id="loading" style="display: none;">
        <img src="/img/loadingx2.svg" alt="Loading...">
      </div>
    </center>
      <ul class="list-group mt-3" id="fileData"></ul>
    </div>
  </div>
</div>
</div>

<!-- /.container-fluid -->
</div>
</div>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
    let servers = [];
    let serversid = [];
    let uploadToken = '<%= apiKey %>';
    const fileQueue = [];
    let isUploading = false;

    const supportedFormats = ['mp4', 'm4v', 'mov', 'mkv', 'ts', 'm4a'];

    $('#serverSelect').on('change', function() {
        const selectedServerIp = $(this).val();
        const selectedServerId = $(this).find(':selected').data('server-id');
        servers = [selectedServerIp];
        serversid = [selectedServerId];
    });

    $('#browseFilesButton').on('click', function() {
        $('#fileInput').click();
    });

    $('#fileInput').on('change', function(e) {
        $('#loading').show();
        enqueueFiles(e.target.files).finally(() => {
            $('#loading').hide();
        });
    });

    $('#uploadArea').on('dragover', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).addClass('dragover');
    });

    $('#uploadArea').on('dragleave', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).removeClass('dragover');
    });

    $('#uploadArea').on('drop', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).removeClass('dragover');
        $('#loading').show();
        enqueueFiles(e.originalEvent.dataTransfer.files).finally(() => {
            $('#loading').hide();
        });
    });

    async function enqueueFiles(files) {
        for (const file of files) {
            const fileExtension = file.name.split('.').pop().toLowerCase();
            if (!supportedFormats.includes(fileExtension)) {
                Swal.fire({
                    icon: 'error',
                    title: 'รูปแบบไฟล์ที่ไม่รองรับ',
                    text: `ไฟล์ "${file.name}" ไม่รองรับรูปแบบ`,
                });
            } else {
                try {
                    const listItem = $('<li class="list-group-item d-flex justify-content-between align-items-center"></li>');
                    listItem.append(`<span>${file.name}</span>`);
                    listItem.append(`<span>${(file.size / 1024 / 1024).toFixed(2)} MB</span>`);
                    listItem.append(`<span>${file.type}</span>`);
                    $('#fileData').append(listItem);
                    fileQueue.push({ file });
                } catch (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'ไฟล์วีดีโอ เสีย',
                        text: `There was an error loading metadata for "${file.name}": ${error.message}`,
                    });
                }
            }
        }
    }

    $('#uploadFilesButton').on('click', function() {
        if (servers.length === 0) {
            Swal.fire({
                icon: 'error',
                title: 'เลือก Server ก่อน',
                text: 'กรุณาเลือก Server ก่อนที่จะอัพโหลดไฟล์',
            });
            return;
        }
        if (fileQueue.length === 0) {
            Swal.fire({
                icon: 'error',
                title: 'เลือกไฟล์ก่อน',
                text: 'กรุณาเลือกไฟล์ที่จะอัพโหลด',
            });
            return;
        }
        if (!isUploading) {
            processQueue();
        }
    });

    async function processQueue() {
        if (fileQueue.length === 0) {
            isUploading = false;
            return;
        }
        isUploading = true;

        const uploadPromises = [];

        // Number of parallel uploads
        const maxParallelUploads = 20;

        // Start multiple parallel uploads
        for (let i = 0; i < maxParallelUploads && i < fileQueue.length; i++) {
            const { file } = fileQueue.shift();
            const availableServer = await checkServerAvailability();
            const listItem = $('<li class="list-group-item"></li>');
            const fileInfo = $('<div class="file-info d-flex justify-content-between align-items-center"></div>');
            const fileProgress = $('<div class="file-progress w-100 mt-2"></div>');
            const progressBar = $('<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div>');
            const fileDetails = $('<div class="file-details small text-muted mt-2"></div>');

            fileInfo.append(`<span>${file.name}</span>`);

            fileProgress.append($('<div class="progress"></div>').append(progressBar));

            listItem.append(fileInfo);
            listItem.append(fileProgress);
            listItem.append(fileDetails);
            $('#fileList').append(listItem);

            uploadPromises.push(uploadFile(file, progressBar, fileDetails, availableServer, listItem));
        }

        await Promise.all(uploadPromises);
        processQueue();
    }

    async function checkServerAvailability() {
        for (const server of servers) {
            try {
                const response = await fetch(`//${server}/health`);
                if (response.ok) {
                    return server;
                }
            } catch (error) {
                console.error(`Server ${server} is not available`);
            }
        }
        throw new Error('No servers available');
    }

    function uploadFile(file, progressBar, fileDetails, server, listItem) {
        const chunkSize = 5 * 1024 * 1024; // 512KB
        const totalChunks = Math.ceil(file.size / chunkSize);
        let chunkNumber = 0;
        let startTime = Date.now();
        let retries = 0;
        const maxRetries = 3;

        return new Promise((resolve, reject) => {
            function uploadChunk() {
                const start = chunkNumber * chunkSize;
                const end = Math.min(start + chunkSize, file.size);
                const blob = file.slice(start, end);
                const formData = new FormData();
                formData.append('file', blob);
                formData.append('chunkNumber', chunkNumber + 1);
                formData.append('totalChunks', totalChunks);
                formData.append('fileName', file.name);
                formData.append('iMemberID', '<%= userid %>');
                formData.append('serverID', serversid[0]);

                $.ajax({
                    url: `//${server}/api/upload`,
                    type: 'POST',
                    headers: { 'x-upload-token': uploadToken },
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        retries = 0; // Reset retries on success
                        chunkNumber++;
                        const progress = (chunkNumber / totalChunks) * 100;
                        const elapsedTime = (Date.now() - startTime) / 1000;
                        const uploadSpeed = ((chunkNumber * chunkSize) / 1024 / 1024) / elapsedTime;
                        const remainingTime = ((totalChunks - chunkNumber) * chunkSize) / (uploadSpeed * 1024 * 1024);

                        progressBar.css('width', `${progress}%`).attr('aria-valuenow', progress);
                        fileDetails.html(`Uploaded: ${progress.toFixed(2)}%, Speed: ${uploadSpeed.toFixed(2)} MB/s, Remaining time: ${remainingTime.toFixed(2)} s`);

                        if (chunkNumber < totalChunks) {
                            uploadChunk();
                        } else {
                            progressBar.removeClass('progress-bar-animated').addClass('bg-success');
                            fileDetails.html(`Upload complete! Uploaded: ${progress.toFixed(2)}%, Speed: ${uploadSpeed.toFixed(2)} MB/s, Total time: ${elapsedTime.toFixed(2)} s`);

                            // Remove file list item after 30 seconds
                            setTimeout(() => {
                                listItem.remove();
                            }, 30000);

                            resolve();
                        }
                    },
                    error: function() {
                        if (retries < maxRetries) {
                            retries++;
                            setTimeout(uploadChunk, 2000); // Retry after a delay
                        } else {
                            progressBar.removeClass('progress-bar-animated').addClass('bg-danger');
                            fileDetails.html('An error occurred during the upload.');

                            // Remove file list item after 30 seconds
                            setTimeout(() => {
                                listItem.remove();
                            }, 30000);

                            reject(new Error('Failed to upload file'));
                        }
                    }
                });
            }

            uploadChunk();
        });
    }
});
</script>

<%- include('../partials/footer') %>