<%- include('../partials/header') %>
<%- include('../partials/navbar', { username: username, apiKey: apiKey }) %>

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Google Account</h1>
  
    <!-- Content Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
          <!-- Server Information Section -->
          <div class="col d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Google Account</h6>
            <div>
              <a class="btn btn-primary" href="./google-add" role="button">ADD</a>
            </div>
          </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Email</th>
                    
                    <th>status</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (google.length > 0) { %>
                  <% google.forEach(googles => { %>
                    <tr>
                      <td><%= googles.id %></td>
                      <td><%= googles.email %></td>
                      <td><%= googles.status %></td>
                      <td><%= googles.created_at %></td>
                    </tr>
                    <% }) %>
                    <% } else { %>
                      <tr>
                        <td colspan="9" class="text-center">ไม่มีข้อมูล</td>
                      </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
  
  <%- include('../partials/footer') %>