<!-- Your existing HTML content -->
<%- include('../partials/header') %>
<%- include('../partials/navbar', { username: username, apiKey: apiKey, userid: userid }) %>

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-1 text-gray-800">Google Drive Account</h1>
  <style>
    .btn-group-custom {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .btn-group-custom button {
      flex: 1;
    }

    .video-thumbnail {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
    }
    .custom-height {
      height: 800px; /* ปรับตามความสูงที่ต้องการ */
    }
  </style>
  <div class="row">
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Google Drive Account</h6>
        </div>
        <div class="card-body">
          <div class="upload-container">
            <div class="upload-area" id="uploadArea">
              <div class="form-group">
                <input type="email" class="form-control" id="email" aria-describedby="single-drive" placeholder="email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="clientId" aria-describedby="clientId" placeholder="clientId">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="clientsecret" aria-describedby="clientsecret" placeholder="clientsecret">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="refreshtoken" aria-describedby="refreshtoken" placeholder="refreshtoken">
              </div>
              <br>
              <div class="btn-group-custom">
                <button class="btn btn-primary" id="add-account-google">ADD</button>
              </div>
              <input type="file" id="fileInput" multiple style="display: none;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('#add-account-google').click(function() {
      var email = $('#email').val();
      var clientId = $('#clientId').val();
      var clientsecret = $('#clientsecret').val();
      var refreshtoken = $('#refreshtoken').val();

      $.ajax({
        url: '/google-add',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
          email: email,
          clientId: clientId,
          clientsecret: clientsecret,
          refreshtoken: refreshtoken
        }),
        success: function(response) {
          Swal.fire('Success', 'Google Drive account added successfully!', 'success');
        },
        error: function(response) {
          Swal.fire('Error', 'There was an error adding the Google Drive account.', 'error');
        }
      });
    });
  });
</script>

<%- include('../partials/footer') %>
