<%- include('../partials/header') %>
<%- include('../partials/navbar', { username: username, apiKey: apiKey, userid: userid }) %>

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->

  <style>
    .btn-group-custom {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .btn-group-custom button {
      flex: 1;
    }

    .video-thumbnail {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
    }
    .custom-height {
      height: 800px; /* ปรับตามความสูงที่ต้องการ */
    }
    .important-note {
      color: red;
      font-weight: bold;
    }
  </style>

    <div class="row">
        <div class="col-lg-4">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Google Drive Proxy Download</h6>
            </div>
            <div class="card-body">
              <div class="upload-container">
                <div class="upload-area" id="uploadArea">
                    <div class="form-group">
                        <input type="text" class="form-control" id="ip" aria-describedby="ip" placeholder="IP" value="<%= userSettings ? userSettings.ip : '' %>">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" id="port" aria-describedby="port" placeholder="PORT" value="<%= userSettings ? userSettings.port : '' %>">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username" value="<%= userSettings ? userSettings.username : '' %>">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" id="password" aria-describedby="password" placeholder="Password" value="<%= userSettings ? userSettings.password : '' %>">
                      </div>
                      <br>
                  <div class="btn-group-custom">
                    <button class="btn btn-primary" id="add-account-google">Save</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    
<div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Setting Process Direct Download</h6>
      </div>
      <div class="card-body">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="reprocess144" <%= userSettings && userSettings.reprocess360 ? 'checked' : '' %>>
          <label class="form-check-label">Re Process Resolution 144 <span class="important-note">*CPU working hard</span></label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="reprocess240" <%= userSettings && userSettings.reprocess360 ? 'checked' : '' %>>
        <label class="form-check-label">Re Process Resolution 240 <span class="important-note">*CPU working hard</span></label>
    </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="reprocess360" <%= userSettings && userSettings.reprocess360 ? 'checked' : '' %>>
        <label class="form-check-label">Re Process Resolution 360 <span class="important-note">*CPU working hard</span></label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="reprocess480" <%= userSettings && userSettings.reprocess360 ? 'checked' : '' %>>
      <label class="form-check-label">Re Process Resolution 480 <span class="important-note">*CPU working hard</span></label>
  </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="reprocess720" <%= userSettings && userSettings.reprocess720 ? 'checked' : '' %>>
            <label class="form-check-label" for="flexSwitchCheckChecked">Re Process Resolution 720 <span class="important-note">*CPU working hard</span></label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="reprocess1080" <%= userSettings && userSettings.reprocess1080 ? 'checked' : '' %>>
          <label class="form-check-label" for="flexSwitchCheckDisabled">Re Process Resolution 1080 <span class="important-note">*CPU working hard</span></label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="reprocess1440" <%= userSettings && userSettings.reprocess1080 ? 'checked' : '' %>>
        <label class="form-check-label" for="flexSwitchCheckDisabled">Re Process Resolution 1440 <span class="important-note">*CPU working hard</span></label>
    </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="reprocess2160" <%= userSettings && userSettings.reprocess1080 ? 'checked' : '' %>>
        <label class="form-check-label" for="flexSwitchCheckDisabled">Re Process Resolution 2160 <span class="important-note">*CPU working hard</span></label>
    </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="origin" <%= userSettings && userSettings.origin ? 'checked' : '' %>>
            <label class="form-check-label" for="flexSwitchCheckDisabled">Origin</label>
        </div>
      </div>
    </div>
</div>

<div class="col-lg-4">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Setting Process Proxy Download</h6>
    </div>
    <div class="card-body">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="proxy360" <%= userSettings && userSettings.proxy360 ? 'checked' : '' %>>
        <label class="form-check-label">Resolution 360</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="proxy720" <%= userSettings && userSettings.proxy720 ? 'checked' : '' %>>
        <label class="form-check-label" for="flexSwitchCheckChecked">Resolution 720</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="proxy1080" <%= userSettings && userSettings.proxy1080 ? 'checked' : '' %>>
        <label class="form-check-label" for="flexSwitchCheckDisabled">Resolution 1080</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="proxyhigh1080" <%= userSettings && userSettings.proxyhigh1080 ? 'checked' : '' %>>
        <label class="form-check-label" for="flexSwitchCheckDisabled">Resolution 1080 Very High 1 Resolution </label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="proxyhigh720" <%= userSettings && userSettings.proxyhigh720 ? 'checked' : '' %>>
        <label class="form-check-label" for="flexSwitchCheckDisabled">Resolution 720 Very High 1 Resolution</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="proxyhigh1080_360" <%= userSettings && userSettings.proxyhigh1080_360 ? 'checked' : '' %>>
        <label class="form-check-label" for="flexSwitchCheckDisabled">Resolution 360 & 1080 Very High 1 Resolution</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="noproxy" <%= userSettings && userSettings.noproxy ? 'checked' : '' %>>
        <label class="form-check-label" for="flexSwitchCheckDisabled">If the resolution is not found, download Origin.</label>
      </div>
    </div>
  </div>
</div>


</div>
</div>
</div>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
      $('#add-account-google').click(function() {
          // ดึงข้อมูลจากฟอร์ม Google Drive Proxy Download
          var ip = $('#ip').val();
          var port = $('#port').val();
          var username = $('#username').val();
          var password = $('#password').val();
          
          // ดึงข้อมูลจากฟอร์ม Setting Process Direct Download
          var reprocess360 = $('#reprocess360').is(':checked') ? 1 : 0;
          var reprocess720 = $('#reprocess720').is(':checked') ? 1 : 0;
          var reprocess1080 = $('#reprocess1080').is(':checked') ? 1 : 0;
          var origin = $('#origin').is(':checked') ? 1 : 0;
          
          // ดึงข้อมูลจากฟอร์ม Setting Process Proxy Download
          var proxy360 = $('#proxy360').is(':checked') ? 1 : 0;
          var proxy720 = $('#proxy720').is(':checked') ? 1 : 0;
          var proxy1080 = $('#proxy1080').is(':checked') ? 1 : 0;
          var proxyhigh1080 = $('#proxyhigh1080').is(':checked') ? 1 : 0;
          var proxyhigh720 = $('#proxyhigh720').is(':checked') ? 1 : 0;
          var proxyhigh1080_360 = $('#proxyhigh1080_360').is(':checked') ? 1 : 0;
          var noproxy = $('#noproxy').is(':checked') ? 1 : 0;
          
          // ส่งข้อมูลไปที่เซิร์ฟเวอร์โดยใช้ AJAX
          $.ajax({
              url: '/save-settings', // เส้นทางในเซิร์ฟเวอร์
              method: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({
                  ip: ip,
                  port: port,
                  username: username,
                  password: password,
                  reprocess360: reprocess360,
                  reprocess720: reprocess720,
                  reprocess1080: reprocess1080,
                  origin: origin,
                  proxy360: proxy360,
                  proxy720: proxy720,
                  proxy1080: proxy1080,
                  proxyhigh1080: proxyhigh1080,
                  proxyhigh720: proxyhigh720,
                  proxyhigh1080_360:proxyhigh1080_360,
                  noproxy: noproxy
              }),
              success: function(response) {
                  Swal.fire(
                      'Saved!',
                      'Your data has been saved.',
                      'success'
                  );
              },
              error: function(xhr, status, error) {
                  Swal.fire(
                      'Error!',
                      'An error occurred while saving your data.',
                      'error'
                  );
              }
          });
      });
  });
</script>

<%- include('../partials/footer') %>
